.northern{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: deeppink;
}

.southern{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}